h2 { 
    margin-left: 1.5vh; 
    font-size: 3.25vh;
    color:white;
    -webkit-text-stroke:2px #000;
    text-decoration: none;
    text-align: left;
}

p { text-align: left; font-size: 1.327vh; }

#leftSidebar  { margin-top: 0; margin-left:calc(50% - 73vh - 15px); width: 100vh; height: 60vh }

#gallery {
    height:60vh; width: calc(44vh + 10px); overflow: hidden;
    margin-left: calc(50% + 29vh - 5px); margin-top: 0; 
    box-shadow: inset 0 0 10px white; }

.slide {
    width: 100%;
    display: block;
    filter: saturate(0.1);
    
}

#leftArrow, #rightArrow { color: transparent; }

#leftArrow { 
    margin-left: calc(50% + 29vh - 3px);
    background: linear-gradient(90deg, rgba(255,255,255,.3) 0%, rgba(255,255,255,0) 100%);
    transition-duration: 1s; }
#leftArrow:hover { background: linear-gradient(90deg, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%); } 

#rightArrow { 
    margin-right: calc(50% - 73vh - 7px);
    background: linear-gradient(-90deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%); }
#rightArrow:hover { background: linear-gradient(-90deg, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%); } 